.CounsllorActivity{
    padding: 185px 84px;
background: linear-gradient(180deg, rgba(252, 242, 255, 0.05) 2.72%, #FCF2FF 17.17%, #FCF2FF 59.75%, #F4F3FF 65.79%, #F4F3FF 94.61%, rgba(244, 243, 255, 0.05) 98.19%);

}
.cou_act_heading{
    background: -webkit-linear-gradient(99.17deg, #D251FF 14.98%, #350048 85.02%);
    display: flex;
    justify-content: center;
    margin-bottom: 35px;
    font-weight: 600;
    font-size: 40px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}
.cou_act_context{
        font-family: Poppins;
        font-size: 24px;
        font-weight: 500;
        line-height: 36px;
        letter-spacing: 0.02em;
        text-align: center;
        margin-bottom: 50px;
}
.cou_act_img{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    position: relative;
    justify-content: center;
    gap: 20px;
}
.cou_act_img img{
position: relative;
    height: 100%;
    width: 100%;
}

.cou_middle_act_heading{
    background: -webkit-linear-gradient(99.17deg, #D251FF 14.98%, #350048 85.02%);
    display: flex;
    justify-content: center;
    margin-bottom: 35px;
    font-weight: 600;
    font-size: 40px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    margin-bottom: 135px;
}
