.footer{
    background: #f3f7ffbf;
    color: rgba(0, 50, 71, 1);
    box-shadow: 2px 5px 10px black;
    position: relative;
    
}
.footer_container{
    padding: 10px 85px;
}
.footer_context{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap: 100px;
}
.footer_help{
    width: 30%;
}
.footer_help div:nth-child(2) {
    margin-bottom: 20px;
        font-family: Poppins;
        font-size: 18px;
        font-weight: 400;
        line-height: 27px;
        text-align: left;
}
.footer_help div:nth-child(3) {
    margin-bottom: 20px;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
}
.footer_swc{
    font-family: Poppins;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.05em;
    text-align: left;
    font-weight: 600;
}
.footer_help div:nth-child(2) {
    /* font-size: 20px;
    font-weight: 600; */
}
.footer_help div:nth-child(3) {
    /* font-size: 20px;
    font-weight: 600; */
}
.footer_help div:nth-child(4) {
   display: flex;
   flex-direction: row;
   gap: 20px;
}
.footer_fresher_connect a{
    /* box-shadow: 2px 3px 5px black; */
        font-family: Poppins;
        letter-spacing: 0.05em;
        text-align: left;
        border: 1px solid rgba(0, 50, 71, 1);
        border-radius: 15px;
        padding: 5px 4px;
            border-radius: 15px;
            font-size: 14px;
            font-weight: 500;
            line-height: 21px;

}
.footer_fresher_connect a:hover {
    background-color: rgb(68, 68, 154);
    color: white;

}

.footer_copyright{
    padding: 10px 16%;
    display: flex;
    justify-content: center;
    align-items: center;
       
}
.icon_with_details_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    margin-bottom: 25px;

}
.icon_with_details{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Poppins;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-align: center;
        color: rgba(0, 50, 71, 1);
}
.social_details{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.social_details div:nth-child(1){
        font-family: Poppins;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-align: center;
}

.social_details div:nth-child(2) {
    display:flex;
    justify-content: center;
    align-items: center;
}
.social_details div:nth-child(2) a {
margin-right: 10px;
}
.circle_map{
    border: 15px solid rgba(0, 50, 71, 1);
    border-radius: 50%;
    position:absolute;
    /* left: 50%; */
    top: -20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle_map_image{
    height: 250px;
    width: 250px;
}
.circle_map_image_laptop{
    display: none;
}

@media screen and (max-width:850px) {
    .footer_container {
            padding: 10px 30px;
        }
    .footer_context {
        flex-direction: column;
    gap:20px;
    }
.footer_fresher_connect a {
    padding: 5px 4px;
    border-radius: 15px;
        font-size: 14px;
        font-weight: 500;
        line-height: 21px;

}
.footer_copyright{
        font-family: Poppins;
        font-size: 10px;
        font-weight: 400;
        line-height: 15px;
        text-align: center;
}
.footer_help {
    width: 100%;
}
.circle_map_image_phone{
    display: none;
}
.circle_map {
    top: -8%;
}
.circle_map_image_laptop {
    display: flex;
}
}