.carousel {
    position: relative;
    overflow: hidden;
    padding: 111px 84px 30px;
    background: linear-gradient(180deg, #cbe4ee 10.02%, #c8dbe4 35.23%, #c7d9e0 60.14%, #EDFAFF 84.45%);
}

.carousel-inner {
    width: 100%;
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-inner img {
    width: 100%;
    display: block;
    height: 695px;
    border-radius: 25px;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    color: rgb(3, 3, 3);
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}

.carousel-button.prev {
    left: 10px;
}

.carousel-button.next {
    right: 10px;
}
.home_container{
    padding: 28px 84px;
    background: linear-gradient(180deg, #EDFAFF 10.02%, #F0FFFF 35.23%, #FCF3FF 60.14%, rgba(250, 237, 255, 0.05) 84.45%);
background: linear-gradient(315deg,
            #2989b6 3%,
            #d4eecb 38%,
            #bb5d1e 68%,
            #EDFAFF 98%);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
}
@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }

    50% {
        background-position: 100% 100%;
    }

    100% {
        background-position: 0% 0%;
    }
}
.box{
border-radius: 55px;
    background-color: white;
    padding: 79px;
    margin-bottom: 125px;
    box-shadow: 2px 5px 12px rgb(173, 173, 173);
    align-items: center;
        
}


.contant_ div {
        font-family: Poppins;
        font-size: 24px;
        font-weight: 500;
        line-height: 36px;
        letter-spacing: 0.02em;
        text-align: center;
}
.our_moto_heading {
    background: -webkit-linear-gradient(99.17deg, #00D9D9 14.98%, #005454 85.02%);

}
.stu_exp_heading{
    background: -webkit-linear-gradient(99.17deg, #D251FF 14.98%, #350048 85.02%);
}
.info_heading{
    background: -webkit-linear-gradient(99.17deg, #7E51FF 14.98%, #170048 85.02%);
}
.heading{
display: flex;
    justify-content: center;
    margin-bottom: 35px;
    font-weight: 600;
    font-size: 40px;
    -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}

.cantant{
            font-family: Poppins;
            font-size: 24px;
            font-weight: 500;
            line-height: 36px;
            letter-spacing: 0.02em;
            text-align: center;
}
.stu_exp_list{
  flex-direction: column;
  gap: 27px;
  line-height: 27px;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;

}
.stu_exp_button{
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border: none;
    background-color: white;
    margin-top: 45px;
    color: rgba(210, 81, 255, 1);
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}
.information_list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}
.info_box{
    border: 1.5px solid black;
    border-radius: 25px;
    max-height: 364px;
    width: 345px;
    padding: 15px 0px;
    overflow-y: scroll;
        scrollbar-width: none;

}
.info_box div:nth-child(1){
    padding: 0px 23px;
    color: rgba(0, 50, 71, 1);
    font-weight: 600;
    font-size: 20px;
}

.info_box div:nth-child(3) {
    padding: 10px 23px;
}
.links_info{
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
}
.links_info:hover {
    text-decoration: underline;
}
.annou_new{
    background: -webkit-linear-gradient(270deg, #FFD600 0%, #DC0000 49.5%, #0125B7 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 20px;
    font-weight: 600;
}
.annou_context li{
    padding: 0 0px 0 27px;
    line-height: 27px;
    font-size: 18px;
    font-weight: 400;
}
@media screen and (max-width: 1050px) {

.carousel {
    padding: 111px 17px 30px;
}
.home_container {
    padding: 28px 18px;
}
/* .box {
    padding: 18px;
} */
}

@media screen and (max-width: 550px) {
    .home_container {
            padding: 28px 16px;
    }
.carousel-inner img {
    height: 250px;

    .box{
        padding: 18px;
        
    }
}
.box{
    padding: 25px;
    margin-bottom: 75px;
}
.contant_ div {
        font-size: 15px;
        line-height: 22.5px;
}
.heading {
    font-size: 28px;
    margin-bottom: 15px;
}
.cantant {
    font-size: 15px;
    line-height: 22.5px;
}
.stu_exp_list {
        font-size: 15px;
        line-height: 22.5px;
}
    .information_list {
            flex-direction: column;
            gap: 35px;
            justify-content: center;
            align-items: center;
        }
}

