.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 5px 12px rgb(173, 173, 173);
    /* height: 70px; */
    }
.Navbar_container{
    padding: 11.5px 21%;
   display: flex;
   flex-direction: row; 
    justify-content: space-between;
    align-items: center;
}

.Navbar_container div:nth-child(1) a {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav_link {
    display: flex;
    flex-direction: row;
}
.logo_image{
   height: 35px;
   margin-right: 10px;
}
.logo_context{
    font-size: 19px;
}
a{
    text-decoration: none;
    color: black;
}

.nav_link div{
    font-weight: 300;
    margin: 0 10px;
}

.Navbar_container div:nth-child(2) a{
    font-weight: 300;
    margin: 0 10px;
}
.nav_link div{
    display: flex;
    align-items: center;
}
.nav_link_container{
     position: relative;
     display: flex;
     flex-direction: column;
     height: 20px;
     cursor: pointer;
}
.nav_link_drop{
    padding: 10px;
    background-color: aliceblue;
    box-shadow: 2px 5px 12px rgb(173, 173, 173);
   position: absolute;
   top: 100%;
   width: 200px;
   /* display: flex; */
   flex-direction: column;
   gap: 10px;
   display: none;

}
.nav_link_drop div{
   display: none;
}
 .nav_link_drop a {
    display: none;
}
.nav_link_drop div:hover {

    background-color: rgb(56, 56, 130);
    color: white;
    width: 100%;
    justify-content: center;
}
.nav_link_drop a:hover {

    background-color: rgb(56, 56, 130);
    color: white;
    width: 100%;
    justify-content: center;
}
.nav_link_container:hover .nav_link_drop div {
    display: flex;
}
.nav_link_container:hover .nav_link_drop a {
    display: flex;
}